<br><br><br>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-5">
      <h2><%= @event.title %></h2>
      <p>Description : <%= @event.description %></p>
      <p>Début : <%= @event.start_date.strftime("%d %B %Y %H:%M ") %></p>
      <p>Durée : <%= @event.duration %> minutes</p>
      <p>Prix : <%= @event.price %>€</p>
      <p>Lieu : <%= @event.location %></p>
      <% if @event.photo.attached?%>
      <br><br><br>
        <%= image_tag photo %>
      <% end %>
      <br>
      <p>Organisé par : <%= @event.admin.first_name %></p>

      <% if user_signed_in? && current_user == @event.admin %>
        <%= link_to "Voir les participants", attendances_path(event_id: @event.id), class: "btn btn-dark" %>
      <% end %>


      <% if user_signed_in? && (current_user != @event.admin && !@event.guests.include?(current_user)) %>
        <%= button_to "Participer", checkout_create_path(total: @event.price, event: @event), class: "btn btn-success", data: {turbo: false} %>
      <% end %>
      <%= link_to "Retour", events_path, class: "btn btn-dark" %>
    </div>
  </div>
</div>